@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: rgb(47, 106, 122);
  --primary-color-darker: rgb(11, 77, 97);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.calculadora {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  background: var(--primary-color);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.calculadora table {
  width: 100%;
  border-collapse: collapse;
}

.calculadora td {
  padding: 5px;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
  height: 60px;
  border: none;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn {
  width: 100%;
  height: 70px;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  background: #f1f1f1;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: var(--primary-color);
  color: white;
  transform: scale(1.05);
}

.btn-eq {
  background: var(--primary-color-darker);
  color: white;
}

.btn-clear {
  background: #ff4d4d;
  color: white;
}

.btn-clear:hover {
  background: #cc0000;
}

.btn-del {
  background: #ffb74d;
  color: white;
}

.btn-del:hover {
  background: #ff9800;
}
